body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.logo img {
  width: 150px;
  height: 80px;
}

.topnav {
  overflow: hidden;
  margin-top: 20px;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 25px;
  font-weight: bold;
  color: black;
}
.topnav .icon {
  display: none;
}

@media(max-width:1300px) {
  .logo img {
    width: 400px;
    height: 150px;
    display: block;
  }
}

@media (max-width: 1300px) {
  .topnav a {
    display: none;
  }

  .topnav .icon {
    float: right;
    display: block;
  }
}

.join {
  margin-top: -10px;
}

.responsive {
  display: none;
}

.side {
  display: none;
}

@media(max-width: 1300px) {
  .responsive {
    display: block;
  }

  .side img {
    margin: 30px;
    width: 100px;
  }

  .side a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 100px;
    font-size: 50px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 200px
  }

  .side a:hover {
    color: red;
  }

  .icon {
    padding: 0;
    border: none;
    background: none;
    margin-top: 10px;
    margin-right: 10px;
  }

  .icon img {
    width: 100px;
  }

}

.div-1 {
  width: 100vw;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='750' viewBox='0 0 1440 750' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Crect opacity='0.8' width='1440' height='749' fill='url(%23paint0_linear_147_506)'/%3E%3C/g%3E%3Cpath opacity='0.3' d='M0 704.318L0 749.294L1440 749.294V668.937C1403.41 676.932 1318.39 695.443 1271.03 705.517C1211.84 718.111 1137.58 725.307 1027.8 734.302C918.027 743.297 729.686 704.318 717.848 702.519C706.009 700.72 605.919 671.935 414.35 665.339C261.094 660.061 74.2601 689.126 0 704.318Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_147_506' x1='0' y1='0' x2='613.255' y2='1179.02' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%234BD0EE' stop-opacity='0.42'/%3E%3Cstop offset='1' stop-color='%232152FF' stop-opacity='0.54'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.right {
  margin-top: -300px;
  width: 660px;
  margin-left: 650px;
  border-radius: 30px;
  flex: 0 0 auto;
  overflow: hidden;
  border: 2px solid black;
}

.right-img {
  animation: slide 10s infinite;
  display: flex;
  flex-direction: row;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(0%);
  }

  37% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  67% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  87% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }

}

.left-text {
  animation: slideY 10s infinite;
}

.left {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  height: 242px;
  margin-left: 150px;
  overflow: hidden;

}

@keyframes slideY {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(0%);
  }

  37% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-100%);
  }

  67% {
    transform: translateY(-200%);
  }

  75% {
    transform: translateY(-200%);
  }

  87% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(-300%);
  }
}

.text {
  width: 500px;
}

.text h3 {
  font-size: 50px;
}

.text h4 {
  font-size: 50px;
  margin: 0;
  margin-top: -30px;
}

.h4-1 {
  color: #D82E2E;
}

.h4-2 {
  color: #88B607;
}

.h4-3 {
  color: #830598;
}

.h4-4 {
  color: #234115;
}

@media (max-width:1300px) {

  .right {
    margin-left: -500px;
    height: 320px;
    width: 550px;
  }

  .left {
    margin-top: 400px;
    margin-left: 180px;
    border: white;
  }

  .div-1-section {
    display: flex;
    align-items: center;
  }

  .div-1 {
    width: 100vw;
    height: 780px;
  }
}

.div-2-about {
  display: flex;

}

.div-2-about p {
  margin-left: 80px;
  margin-top: 50px;
  font-size: large;
  color: #525560;
}

.div-2-about img {
  margin-top: -80px;
  margin-right: 40px;
}

.div-2 {
  margin-top: -80px;
  background-color: white;
}

@media (max-width:1300px) {
  .div-2-about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-2 {
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 30px;
  }

  .div-2-about img {
    margin: 0;
  }

  .div-2-about p {
    font-size: small;
  }
}

.div-3 {
  background-image: url("image/BG2.png");
  width: 100%;
  height: 100%;
}

.div-3-1 {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 50px;
  width: 80%;

}

.div-3-1 p {
  color: #525560;
}

.div-3-1 img {
  margin-top: 20px;
  margin-right: 10px;
}

.div-3 .outer-container {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;

}

.what-we-do {
  margin-left: 40px;
}

@media (max-width:1300px) {
  .div-3 .outer-container {
    flex-direction: column;
    font-size: 30px;
    margin-left: 100px;
  }

  .div-3-1 img {
    width: 64px;
    height: 64px;
    margin-top: 60px;
    margin-right: 50px;
  }


}

.our-belief {
  margin-left: 40px;
  margin-top: 80px;
}

.div-3-2 {
  display: flex;
  margin-left: 60px;
  margin-right: 100px;
}

.div-3-2 h1 {
  color: red;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
}

.div-3-2 p {
  color: #525560;
  margin-right: 140px;
  margin-top: 60px;
  margin-left: 80px;
  font-size: larger;
}

.div-3-3 {
  display: flex;
  margin-left: 60px;
  margin-right: 100px;
  margin-top: 80px;
}

.div-3-3 h1 {
  color: red;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.div-3-3 p {
  color: #525560;
  margin-right: 160px;
  margin-top: 60px;
  margin-left: 100px;
  font-size: larger;
}

@media (max-width:1300px) {
  .div-3-2 {
    flex-direction: column;
    align-items: center;
    margin-left: 130px;
  }

  .div-3-2 p {
    font-size: 30px;
    margin: 0;
  }

  .div-3-2 img {
    margin-top: 50px;
  }

  .div-3-3 {
    flex-direction: column;
    align-items: center;
    margin-left: 130px;
  }

  .div-3-3 p {
    font-size: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

.div-4 img {
  margin-left: 40px;
  margin-top: 60px;
}

.div-4 h2 {
  margin-top: 30px;
  font-size: 50px;
  color: #1D2130;
  margin-left: 130px;
  width: 600px;
}

.div-4-1 {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: space-between;
}

.div-4-1-1 {
  background-image: url("image/Group 14.png");
  width: 410px;
  height: 421px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.div-4-1-2 {
  background-image: url("image/Group 24.png");
  width: 411px;
  height: 421px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-left: 35px;
}

.div-4-1-3 {
  background-image: url("image/Group 34.png");
  width: 411px;
  height: 421px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.div-4-1 p {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}

.div-4-1 h3 {
  color: white;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.div-4-1 button {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: large;
  border-radius: 5px;
  border: 0;
  font-weight: bold;
  margin-top: 60px;
  margin-left: -120px;
}

.div-4-1-2 .btn {
  margin-top: 80px;
}

.div-4 {
  margin-bottom: 100px;
}

.div-4-2 {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .div-4-1 {
    display: flex;
    flex-direction: column;
  }

  .div-4-1-3 {
    margin-left: 25%;
    margin-top: 80px;
  }
}

.div-5 .about {
  margin-left: 60px;
  margin-top: 50px;
}

.div-5 {
  background-image: url("image/Rectangle 29425.png");
}

.div-5-1-1 {
  margin-left: 550px;
  width: 860px;
  height: 700px;
  overflow: hidden;
  flex: 0 0 auto;
  margin-top: -50px;
}

.div-5-1-1-img {
  animation: slides 10s infinite;
  display: flex;
  flex-direction: row;
}

@keyframes slides {
  0% {
    transform: translateX(0%);
  }

  32% {
    transform: translateX(0%);
  }

  48% {
    transform: translateX(-100%);
  }

  64% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-200%);
  }
}

.div-5-1 {
  display: flex;
}

.div-5-2 {
  margin-left: -1200px;
  margin-top: 120px;
}

.div-5-2 h1 {
  font-size: 50px;
}

.div-5-2 p {
  color: #606060;
}

.div-5-2-text {
  animation: slidesY 10s infinite;
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: space-between;
}

.div-5-2 {
  overflow: hidden;
  height: 250px;
}

@media (max-width:1300px) {
  .div-5-1 {
    flex-direction: column;
    align-items: center;
  }

  .div-5-1-1 {
    margin-left: 50px;
    width: 700px;
  }

  .div-5-2 {
    margin-left: 0px;
    height: 280px;
    margin-right: 0px;
    margin-bottom: 200px;
  }

  .div-5-2 h1 {
    font-size: 60px;
    margin: 0;
  }

  .div-5-2 p {
    font-size: xx-large;
  }

  .div-5-2-text {
    width: 600px;
  }
}

@keyframes slidesY {
  0% {
    transform: translateY(0%);
  }

  32% {
    transform: translateY(0%);
  }

  48% {
    transform: translateY(-33%);
  }

  64% {
    transform: translateY(-33%);
  }

  80% {
    transform: translateY(-66%);
  }

  100% {
    transform: translateY(-66%);
  }
}

.div-6 {
  background-image: url("image/Background6.png");
}

.div-6 .about {
  margin-left: 60px;
  margin-top: 50px;
}

.div-6-1 {
  margin-left: 220px;
  color: white;
  margin-top: 120px;
}

.div-6-1 p {
  margin: 0;
  color: #c6cede;
  text-decoration: none;
  font-weight: 400;
}

.div-6-2 {
  margin-left: 220px;
  margin-right: 220px;
  margin-top: 50px;
}

.div-6-2-2 {
  background-color: white;
  display: flex;
  padding: 15px;
  width: 460px;
  border-radius: 12px;
  align-items: center;
  margin-bottom: 30px;
}

.div-6-2-2 img {
  border-radius: 6px;
  margin-right: 20px;
}

.div-6-2-2 h4 {
  color: #252F40;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 8px;
}

.div-6-2-2 h5 {
  margin: 0;
  color: #17C1E8;
  font-weight: normal;
  font-size: 15px;
}

.div-6-2-2 p {
  color: #67748E;
  line-height: 20px;
  font-size: 13px;
}

.div-6-2 {
  display: flex;
  justify-content: center;
}

.div-6-2-1 {
  margin-left: 20px;
}

.div-6 button {
  margin-top: 100px;
  margin-left: 45%;
  padding: 10px 35px;
  background-color: black;
  color: white;
  font-size: larger;
  font-weight: normal;
  border: transparent;
  border-radius: 5px;
}

@media (max-width:1300px) {
  .div-6-2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 20%;
  }

  .div-6-1 {
    margin-top: 60px;
    margin-left: 20%;
  }

  .div-6-1 p {
    margin-top: -10px;
    margin-bottom: -10px;
  }

  .div-6-2-2 {
    height: 120px;
    margin-bottom: 5px;
  }

  .div-6-2-2 img {
    height: 100px;
  }

  .div-6 {
    height: 1000px;
  }
}

.div-7 .title {
  margin-left: 60px;
  margin-top: 50px;
}

.div-7 {
  background-color: #E7D6D652;
  margin-top: 20px;
}

.div-7-1 {
  width: 430px;
  background-color: #F2C94C;
  margin-left: 80px;
  margin-top: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.div-7 button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.div-7-1 h6 {
  margin-top: -20px;
  font-weight: normal;
  font-size: small;
  margin-left: 5px;
}

.div-7-1 h1 {
  font-size: 40px;
}

.div-7-1 h4 {
  font-weight: normal;
  color: #1D2130;
  font-size: 15px;
  margin-left: 20px;
}

.div-7-1 p {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  margin-top: -10px;
}

.div-7-2 {
  display: flex;
  justify-content: center;
  margin-right: 80px;
  margin-bottom: 50px;
}

.div-7-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.div-7-3 img {
  margin-right: 200px;
}

.div-7-4 {
  display: flex;
  align-items: center;
}

.div-7-4 img {
  width: 35px;
  height: 35px;
}

.div-7-4 p {
  margin-left: -150px;
  color: #000000;
  font-size: 25px;
  font-weight: lighter;
}

@media (max-width:1300px) {
  .div-7-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-7-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div-7-3 .image {
    margin-right: 0;
    width: 600px;
  }

  .div-7-4 {
    width: 600px;
  }

  .div-7-3 h1 {
    font-size: 60px;
  }

  .div-7-4 p {
    font-size: 30px;
  }

}
.div-8{
  background-image: url("image/Frame 38538.png");
}
.div-8  .title{
  margin-top: 50px;
  margin-left: 60px;
}
.div-8-1{
  margin-left: 100px;
  margin-top: 80px;
  width: 600px;
}
.div-8-1 p{
  margin-bottom: 40px;
  font-size:large;
}
.div-8-1 .name{
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
 padding: 12px 20px;
 border-radius: 5px;
 border: 1px solid #c3bfbf;
}
.div-8-1 .info{
  width: 645px;
  margin-bottom: 30px;
 padding: 12px 20px;
 border-radius: 5px;
 border: 1px solid #c3bfbf;
 color: gray;
}
.div-8-1 button{
  width: 645px;
  padding: 12px 20px;
  border: 1px solid #c3bfbf;
  border-radius: 5px;
  background-color: #DD5471;
  color: white;
  font-size: larger;
  margin-bottom: 20px;

}
.div-8-2{
  display: flex;
  justify-content: space-between;
}
.div-8-3 img{
  height: 600px;
  width: 500px;
  margin-right: 120px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.div-8-4{
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  margin-left: 30px;
}
.div-8-4-1{
  display: flex;
  align-items: center;
}
.div-8-4-1 h5{
  margin-bottom: 0;
  font-weight: normal;
}
.div-8-4-1 p{
  margin-top: 10px;
  color:#DD5471 ;
}
.div-8-4-1 img{
  margin-top: -20px;
  margin-right: 10px;
}
@media (max-width: 1300px) {
  .div-8-2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div-8-1{
    margin-left: 0;
  }
  .div-8{
    background: none;
    background-color: #F5FBF6;
  }
  .div-8-3{
    margin-left: 150px;
    margin-top: -120px;
  } 
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #64989B;
  height: 350px;
}
.footer .logo{
 margin: 50px;
}
.footer ul{
  list-style-type: none;
  margin-top: 80px;
  margin-right: 40px;
}
.footer-1{
  display: flex;
  flex-direction: row;
  margin-left: -80px;
}
.footer li{
  color: white;
  font-size: large;
  font-weight: 200;
  margin-top: 20px;
}
.footer li:hover{
  font-weight: bold;
}
.footer p{
  font-size: 35px;
  color: white;
  margin-top: 80px;
  width: 400px;
  margin-right: 100px;
}
.footer .input{
  background-color: #64989B;
  color: white;
  padding: 20px 30px;
  width: 250px;
  border: 2px solid white;
  border-radius: 5px;
}
.input::placeholder{
  color: white;
}
.footer button{
  padding: 20px 30px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: white;
  color: black;
  margin-left: -15px;
}
@media (max-width:1300px) {
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-1{
    background-color: #64989B;
    display: flex;
    width: 100%;
    margin-left: 0;
  }
  .footer ul{
    margin-top: 0;
    margin-left: 60px;
  }
  .footer li{
    font-size:35px; 
    font-weight: 100;
  }
  .footer-2{
    background-color: #64989B; 
    width: 100%;
  }
  .footer p{
    margin-left: 20%;
    font-size: 40px;
    width: 500px;
  }
  .footer .logo{
    width: 500px;
    height: 220px;
  }
  .footer-3{
   margin-left: 20%;
   margin-bottom: 100px;
  }
  .footer .input{
    width: 400px;
  }
}
